<a href="https://colab.research.google.com/github/bharathkumaarr/Machine-Learning/blob/main/Python-basics/python_bascis_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for loop
when you're SURE about the number of times the action has to be executed

In [2]:
laptop1 = int(input("enter the price of laptop: "))

enter the price of laptop: 40000

In [6]:
for i in range(5):  #0,1,2,3,4
  laptop_price = int(input("enter the price of the laptop: "))

enter the price of the laptop: 45000
enter the price of the laptop: 60000
enter the price of the laptop: 40000
enter the price of the laptop: 100000
enter the price of the laptop: 80000

In [9]:
numbers_list = [10,20,35,60]
for i in range(len(numbers_list)):
  print(numbers_list[i])

10
20
35
60

In [11]:
numbers_list = [10,20,35,60]
for i in numbers_list:
  print(i)

10
20
35
60

#while loop

 when you're NOT SURE about the number of times the action has to be executed

In [17]:
i = 0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9