<a href="https://colab.research.google.com/github/bharathkumaarr/Machine-Learning/blob/main/Python-basics/python_basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


types of objects

mutable & immutable objects

immutable: int, float, string, bool,tuple

mutable: list, set, dictionary

#Lists

[    ] square brackets

In [2]:
my_list =[1,2,3,5,6]
print(my_list)
type(my_list)

[1, 2, 3, 5, 6]

list

***LISTS CAN HAVE MULTIPLE DATATYPES***

In [3]:
list1 = [145, "sgretsrd",23.45, True]
print(list1)

[145, 'sgretsrd', 23.45, True]

LISTS ARE MUTABLE = CHANGEABLE

In [8]:
list1 = [145, "sgretsrd",23.45, True]
list1.append("dsg")
print(list1)

[145, 'sgretsrd', 23.45, True, 'dsg']

In [9]:
print(list1[3])

True

In [10]:
print(list1[2])

23.45

In [11]:
print(list1[0])

145

LISTS ALLOWS DUPLICATE VALUES

In [14]:
list1 = [145, "sgretsrd",23.45, True]
list1.append(23.45)
print(list1)

[145, 'sgretsrd', 23.45, True, 23.45]

empty lists

In [17]:
list2 = []
print(list2)
list2.append(23)
print(list2)
list2.append(2355)
print(list2)

[]
[23]
[23, 2355]

DELETE AN ITEM IN LITSTS

In [19]:
list3 = [145, 'sgretsrd', 23.45, True, 2.3645]
print(list3)
del list3[2]
print(list3)

[145, 'sgretsrd', 23.45, True, 2.3645]
[145, 'sgretsrd', True, 2.3645]

JOIN TWO LISTS

In [21]:
list4 = [1,2, 3, 444]
list5 = ["dfb","adg",456]
print(list4+list5)

[1, 2, 3, 444, 'dfb', 'adg', 456]

#Tuple
( ) Paranthesis

In [22]:
tuple1 = (2,3,4)
print(tuple1)
type(tuple1)

(2, 3, 4)

tuple

ALLOWS MULTIPLE DATATYPES

In [26]:
tuple2 = (234,24242,2424424242, "seta","machine learning", True)
print(tuple2)

(234, 24242, 2424424242, 'seta', 'machine learning', True)

Converting list to tuple

In [28]:
list1 = [1,2,3, False, "sgsdf"]
print(list1)
newtuple = tuple(list1)
print(newtuple)

[1, 2, 3, False, 'sgsdf']
(1, 2, 3, False, 'sgsdf')

INDEXING

In [29]:
print(newtuple[3])

False

TUPLES ARE IMMUTABLE = UNCHANGEABLE

In [30]:
newtuple = newtuple.append(4)

AttributeError: ignored

In [31]:
print(len(newtuple))

5

#Sets
{ }

In [33]:
set1 = {1,2,3,34,67}
print(set1)
type(set1)

{1, 2, 3, 67, 34}

set

NO INDEXING

In [34]:
print(set1[2])

TypeError: ignored

LIST TO SET

In [37]:
list12 = [234,5, 90.0,False,"sg"]
print(set(list12))

{False, 'sg', 5, 234, 90.0}

NO DUPLICATE VALUES ALLOWED

In [38]:
set1 = {1,2,3,4,4,4,4,4,4,4}
print(set1)

{1, 2, 3, 4}

#DICTIONARIES
key-value Pairs

In [40]:
dict1 = {'name': 'david', "id":2435, 'age' : 50}
print(dict1)
type(dict1)

{'name': 'david', 'id': 2435, 'age': 50}

dict

In [43]:
print(dict1['name'])
print(dict1['age'])
print(dict1['id'])

david
50
2435

NO DUPLICATE VALUES

In [45]:
dict2 = {'name': 'david', "id":2435, 'age' : 50,'name': 'david', "id":2435, 'age' : 50}
print(dict2)

{'name': 'david', 'id': 2435, 'age': 50}